body {
	/*background-color:#c3c3c3;
	background-image: url(wild_flowers.png);
	background-repeat: repeat;
	background-attachment: fixed;*/
	
	
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(30,87,153,0.41) 59%, rgba(125,185,232,0) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(59%,rgba(30,87,153,0.41)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.41) 59%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.41) 59%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.41) 59%,rgba(125,185,232,0) 100%); /* IE10+ */

	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.41) 59%,rgba(125,185,232,0) 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

	
}

a{
	text-decoration: none;
}

a:link {
	color: #67E300;
}

/* These must be in order */

a:visited {
	color: #00AF64;
}

a:hover {
	color: #CCF600;
	text-decoration: underline;
}

a:active {
	color: #E40045;
}

div {
	background-color: A1B92E;
	background-color: rgba(84,44,212,.5);
}
